<!DOCTYPE html>
<html>
<head>
<title>Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
</head>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="https://avatars.githubusercontent.com/u/92437858?v=4" style="width:100%">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
 
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Sajid Majeed.</h1>
    <p>Data Scientist and Machine Learning Expert .</p>
    <img src="https://avatars.githubusercontent.com/u/92437858?v=4" alt="boy" class="w3-image" width="500" height="600">
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">My Name</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>I'm Sajid Majeed, a dedicated and results-oriented Data Scientist and Machine Learning enthusiast, fueled by a fervent passion for transforming raw data into actionable insights that drive informed decision-making. My journey in the realm of data science is rooted in a robust foundation encompassing mathematics, statistics, and computer science, which has empowered me to excel in the dynamic and challenging field.

        With 3 years of experience, my focus has been on leveraging cutting-edge techniques to unravel hidden patterns within vast datasets. I specialize in the end-to-end development and deployment of machine learning models, employing a diverse set of algorithms to solve intricate problems across various domains. Whether it's classification, regression, or clustering, I approach each task with a keen analytical mindset and a commitment to delivering robust and scalable solutions.
        
        One of my core strengths lies in data visualization, where I utilize tools like Matplotlib, Seaborn, and Tableau to distill complex findings into visually compelling narratives. This not only facilitates effective communication with stakeholders but also ensures that the insights derived from data are accessible and actionable.
        
        Throughout my professional journey, I've had the privilege of contributing to impactful projects. Notable among them is Lungs Cancer Prediction using Deep Neural Network, where I successfully addressed the problems, implemented a data-driven solution.
        
        In the ever-evolving landscape of data science and machine learning, I embrace a philosophy of continuous learning. Actively engaging in online courses, attending conferences, and staying involved in research are integral parts of my commitment to staying at the forefront of industry advancements.
        
        I am not just a practitioner; I am an advocate for collaborative exploration and knowledge sharing. I invite you to connect with me here or through my <a href="https://www.linkedin.com/in/sajid-majeed/?originalSubdomain=pk">LinkedIn profile </a>to discuss potential collaborations, share insights, or explore opportunities in the exciting world of data science.
        
        Thank you for taking the time to learn more about my journey and aspirations in the realm of data science and machine learning. I look forward to connecting with fellow enthusiasts and professionals on this thrilling journey of discovery and innovation.</p>
    <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
    <p class="w3-wide">Data Science</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:95%"></div>
    </div>
    <p class="w3-wide">Machine Learning</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">Web Development</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:80%"></div>
    </div><br>
    
    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">5+</span><br>
        Partners
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">20+</span><br>
        Projects Done
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">90+</span><br>
        Happy Clients
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">100+</span><br>
        Meetings
      </div>
    </div>

  </div>
  
  

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Karachi, Pakistan</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +92345 5405883</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: sajidmajeed.ist@gmail.com</p>
    </div><br>
    <p>Let's get in touch. Send me a message:</p>

  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by Sajid Majeed</a></p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>
